In [4]:
# 10818 최소, 최대
n = int(input())
li = list(map(int, input().split()))
# print(min(li), max(li))
minNum = li[0]
maxNum = li[0]
for i in range(n):
    if li[i] > maxNum:
        maxNum = li[i]
    if li[i] < minNum:
        minNum = li[i]
print(minNum, maxNum)

5
20 10 35 30 7
7 35

In [11]:
*range(3),1

(0, 1, 2, 1)

In [17]:
# 2562 최댓값

#1 매번 확인
maxNum = 1
maxOrder = 1

for i in range(1,10):
    n = int(input())
    if n > maxNum:
        maxNum = n
        maxOrder = i
print(maxNum)
print(maxOrder)

3
29
38
12
57
74
40
85
61
85
 8

In [18]:
#2 list 로 모은다음에 sorted 로 정렬

li = []
for i in range(1,10):
    li.append((int(input()), i))
sorted_li = sorted(li, key=lambda number: number[0])
print(sorted_li[-1][0])
print(sorted_li[-1][1])

3
29
38
12
57
74
40
85
61
85
 8

In [22]:
l = [int(input()) for i in range(9)]
print(max(l), l.index(max(l))+1)

3
29
38
12
57
74
40
85
61
85 8

In [30]:
# 2577 숫자의 개수
a = int(input())
b = int(input())
c = int(input())

result = str(a*b*c)
for i in range(10):
    print(result.count(str(i)))

150
266
427
3
1
0
2
0
0
0
2
0
0

In [26]:
sam = '17037300'

sam.count('4')

0

In [2]:
# 3052 나머지

remainder_list = []
different_number = 0

for i in range(10):
    n = int(input())
    remainder = n % 42
    if remainder not in remainder_list:
        different_number += 1
        remainder_list.append(remainder)
print(different_number)

39
40
41
42
43
44
82
83
84
85
6

In [4]:
# 다른사람 풀이
b = [int(input())%42 for i in range(10)]
print(len(set(b)))

39
40
41
42
43
44
82
83
84
85
6

In [6]:
# 1546 평균

n = int(input())
li = list(map(int,input().split()))
print(sum(li)/max(li)/n*100)

3
10 20 30
66.66666666666666

In [12]:
# 8958 OX퀴즈

n = int(input())

count_o = 0
point = 0
ox = ''
for i in range(n):
    ox = input()
    for i in range(len(ox)):
        if ox[i] == 'O':
            count_o += 1
            point += count_o
            print('i',i)
            print('count0', count_o)
            print('point',point)
        else:
            count_o = 0
    print(point)
    point = 0
    count_o = 0

5
OOXXOXXOOO
i 0
count0 1
point 1
i 1
count0 2
point 3
i 4
count0 1
point 4
i 7
count0 1
point 5
i 8
count0 2
point 7
i 9
count0 3
point 10
10
OOXXOOXXOO
i 0
count0 1
point 1
i 1
count0 2
point 3
i 4
count0 1
point 4
i 5
count0 2
point 6
i 8
count0 1
point 7
i 9
count0 2
point 9
9
OXOXOXOXOXOXOX
i 0
count0 1
point 1
i 2
count0 1
point 2
i 4
count0 1
point 3
i 6
count0 1
point 4
i 8
count0 1
point 5
i 10
count0 1
point 6
i 12
count0 1
point 7
7
OOOOOOOOOO
i 0
count0 1
point 1
i 1
count0 2
point 3
i 2
count0 3
point 6
i 3
count0 4
point 10
i 4
count0 5
point 15
i 5
count0 6
point 21
i 6
count0 7
point 28
i 7
count0 8
point 36
i 8
count0 9
point 45
i 9
count0 10
point 55
55
OOOOXOOOOXOOOOX
i 0
count0 1
point 1
i 1
count0 2
point 3
i 2
count0 3
point 6
i 3
count0 4
point 10
i 5
count0 1
point 11
i 6
count0 2
point 13
i 7
count0 3
point 16
i 8
count0 4
point 20
i 10
count0 1
point 21
i 11
count0 2
point 23
i 12
count0 3
point 26
i 13
count0 4
point 30
30

In [7]:
len('abc')

3

In [30]:
# 4344 평균은 넘겠지

n = int(input())


for i in range(n):
    li = list(map(int, input().split()))
    students = li[0]
    points = li[1:]
    avg = sum(points)/students
    upper_students = [i for student in points if student > avg]
    print(format(len(upper_students)/students*100,'.3f') + '%')

1
3 70 90 81
66.667%

In [22]:
format(2000/100,".3f")

'20.000'

In [14]:
round(1.1111111,3)

1.111

In [26]:
print(format(round(10/20*100,'.3f')))

TypeError: 'str' object cannot be interpreted as an integer